*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Stili Tags */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #DCDCDC;
    background-color: black;
}


/* Stili  Classi*/

.containerHeader{
    padding: 11px 20px;
    text-align: right;
}

.containerHeader__btn{
    color: #DCDCDC;
    background-color: #4b4c4f;
    padding: 6px;
    border-radius: 5px;
    border: 0;
}

.containerMain{
    height: calc(100vh - 100px);
    padding-bottom: 50px;
}

.containerCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100%);
    overflow: hidden;
}

.containerCards__card{
    width: calc(100% / 5 - 30px);
    min-width: 200px;
    max-width: 300px;
    height: calc(100% / 5);
    min-height: 150px;
    max-height: 200px;
    flex-shrink: 0;
    border: 2px solid black;
    position: relative;
    background-image: url(../img/jeffBezos.jpg);
    background-size: cover;
}

.containerCards__card:hover{
    border: 2px solid yellow;
}

.containerCards__card__participantName{
    position: absolute;
    bottom: 0;
    background-color: #232427d6;
    padding: 2px 5px;
}

.containerArrow{
    position: absolute;
    top: 45%;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    z-index: 2;
}

.containerArrow--right{
    right: 0;
}

.containerArrow__arrow{
    display: block;
    font-size: 50px;
    color: rgb(127, 127, 127);
}

.containerArrow__link{
    text-decoration: none;
}

.containerArrow__arrow--right{
    color: rgb(91, 184, 249);
}

.containerFooter{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 35, 35);
}

.containerFooter__meetingControls{
    display: flex;
    align-items: center;
}

.containerFooterLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 0 15px;
}

.containerFooterLinks__link{
    text-decoration: none;
    color: #DCDCDC;
}

.footerIcon{
    font-size: 25px;
    padding-bottom: 3px;
}

.footerIcon--green{
    color: rgb(112, 196, 58);
}

.containerFooter__endMeeting{
    background-color: rgb(74, 75, 77);
    height: 100%;
    padding: 16px 15px;

}

.containerFooter__endMeeting__text{
    color: red;
}
/* Modifiers */